<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/resources/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/resources/css/flat-ui.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
 <%
    layout("/test/layout.html"){%>
       this is 正文
    <div class="container">
     <form  role="form" action = "/userlogin" method = "post"> 
       <input type="text"     class="form-control" name="accountID" id="accountID"  placeholder="账号" required autofocus>
       <input type="password" class="form-control"  name="pwd"  id="pwd" placeholder="密码" required >
       <button type="submit"  class="btn btn-primary" id="login" >Login</button>		 
     </form>
   </div>
 <%}%>
 
</html>