#line {height:1px;border:none;border-top:1px solid #D5D5D5;}

#day_info {
   margin: 5px;
   background:#fff;
   border-bottom: 1px ;
   font-size:14px;
}
#tpc_item {
     margin: 5px;
     background:#fff;
     border-bottom: 1px ;
}

#tpc_dec{
  margin: 5px;
  color: black;
  font-size:18px;
}
#tpc_info{
  margin: 5px;
  color: #A9A9A9;
  font-size:14px;
}

